@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Open+Sans:wght@400;600&display=swap");

/* screens */
@import "screens/home.css";

/* components */
@import "components/title-logo.css";
@import "components/top-bars.css";
@import "components/menu-bars.css";
@import "components/intro.css";
@import "components/tag-filters.css";
@import "components/map.css";
@import "components/menu.css";

@import "reset.css";
@import "variables.css";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--body-color);
  font-family: "Open Sans", sans-serif;
  padding: 0px var(--body-padding);
}

.wrapper {
  position: relative;
  width: 100%;
}

/************** footer 영역 **************/
footer p:nth-of-type(3){
    margin-top: 12px;
}
footer{
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    /* width: 250px; */

    /* 푸터 하단 고정을 위한 설정 */
    height: 60px;
    position: absolute;
    /* left: 50%; */
    /* margin-left: -125px; */
    left: 0px; right: 0px;
    bottom: 0px;
}

html, body{
    /* 푸터 하단 고정을 위한 설정 */
    height: 100%;
}
div.wrapper{
    /* 푸터 하단 고정을 위한 설정 */
    position: relative;
    min-height: 100%;
    /* footer의 높이+알파 만큼 하단 패딩을 준다. */
    padding-bottom: 80px;
}
